{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
<div class="container">
  <div class="row">
    {% for person in persons|dictsort:'experience_year' %}
    <div class="col-md-3">
      <a href="/person/{{person.id}}">
        <div class="panel">
          <div class="panel-heading">
            <div class="panel-title">
              {{ person.title  }}
            </div>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item"><img class="img img-circle" src="{{ person.image.url }}" alt="{{person.name}}" /></li>
              <li class="list-group-item">Name: {{ person.name  }}</li>
            </ul>
          </div>
        </div>
      </a>

    </div>
    {% if forloop.counter == 4 %}
  </div> <br />  <div class="row">
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
